$primary-color: #9b59b6;

.input {
  border-radius: 0;
  outline: none;
  &:hover {
    border: 1px solid $primary-color;
  }
}

.btn {
  border: none;
  border-radius: 0;
}

.btn-primary {
  background-color: $primary-color;
  &:hover {
    background-color: #8e44ad;
  }
}
.user {
  border: 1px solid $primary-color;
  cursor: pointer;
  padding: 1em;
  margin: 1em;
  &:hover {
    box-shadow: 1px 2px 3px #ccc;
  }
}

.box {
  border: 1px solid $primary-color;
  padding: 2em;

  & > .details {
    margin-top: 1em;
    font-family: monospace;
  }
}
