$primary-color: #9b59b6;

.favorite-users {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.favorite-user {
  flex: 0 0 33.33%;
  padding: 0 15px;
  margin-bottom: 30px;
  max-width: 33.33%;
}

.box {
  border: 1px solid $primary-color;
  height: 100%;
  padding: 1em;

  & > .details {
    margin-top: 1em;
    font-family: monospace;
  }
}
